@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf');
}

@font-face {
    font-family: 'bebas';
    src: url('../fontes/BebasNeue-Regular.otf');
}

:root {
    --corbody: rgba(170, 235, 105, 0.279);
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1d7945;
    --cor5: #023e1c;
    --cornav1: #023e1c53;
    --cornav2: #023e1c91;

    --font-0: Arial, Verdana, Helvetica, sans-serif;
    --font-1: 'android','cursive';
    --font-2: 'bebas','cursive';
}

* {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--corbody);
    font-family: var(--font-0);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    font-family: var(--font-2);
    margin: auto;
    font-size: 1.1em;
    text-align: center;
}

header h1 {
    color: white;
    font-weight: normal;
    text-align: center;
    padding: 30px 20px;
    text-transform: uppercase;
    font-size: 3.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.394);
}

header p {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 1.1em;
    padding: 10px 60px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.394);
}

nav {
    padding: 10px 20px 5px 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.421);

}

nav a {
    font-family: var(--font-0);
    font-variant-caps: small-caps;
    text-decoration: none;
    color: var(--cor0);
    padding: 5px;
    transition-duration: 0.5s;
}

nav a:hover {
    font-size: 90%;
    color: var(--cor5);
    background-color: var(--cor1);
    font-weight: bold;
}

a.externo::after {
    content: '\0020\1F517';
}

main {
    background-color: white;
    text-align: justify;
    font-size: 1em;
    line-height: 1.8em;
    min-width: 260px;
    max-width: 800px;
    margin-bottom: 550px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.476);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

main h1 {
    font-family: var(--font-1);
    color: var(--cor5);
    font-size: 1.8em;
    font-weight: normal;

    padding-left: 5px;
    border-radius: 5px;
    margin: 10px;
}

main h2 {
    font-family: var(--font-1);
    margin: 10px;
    font-size: 1.3em;
    font-weight: normal;
    text-align: left;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    padding-left: 5px;
    border-radius: 5px;
}

main p {
    padding-top: 5px;
    text-indent: 15px;
    font-size: 1.2em;
    line-height: 2em;
    margin: 20px 0px;
}

main a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor5);
    background-color: var(--cor0);
}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor1);
    color: black;
}

strong {
    font-weight: bolder;
    color: var(--cor5);
    padding: 1.5px 4px;
}

#strong1 {
    background-color: var(--cor2);
}
.img {
    background-size: cover;
    display: flex;
    width: 92%;
    min-width: 440px;
    max-width: 700px;
    height: 40vh;
    max-height: 400px;
    min-height: 200px;
    margin: 0px auto;
}

.imgp {
    display: block;
    margin: 0px auto;
    width: 60%;
    max-width: 250px;
}

div#video {
    background-color: #013116;
    position: relative;
    height: 59%;
    padding-bottom: 50%;
    margin: 30px -5px 30px -5px;
    padding: 20px;
    padding-bottom: 59%;
}

div#video .v1 {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 99.5%;
    width: 100%;
}

aside {
    background-color: var(--cor0);
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.442);
    margin-bottom: 10px;
}

aside h3 {
    color: white;
    background-color: var(--cor5);
    font-family: var(--font-0);
    padding: 5px 0px 2px 15px;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

aside p {
    margin: auto;
    padding: 5px 10px;
    line-height: 1.3em;
}

aside ul {
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
    list-style-position: inside;
    text-indent: 5px;
    line-height: 1.5em;
}

footer {
    background-color: var(--cor5);
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 3px 0px;
    margin-top: 20px;
    font-weight: bolder;
}

footer  a{
 text-decoration: none;
 color: white;
 font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

@media (max-width: 460px){
    
    header h1 {
        font-size: 2.5em;
        padding-bottom: 10px;
    }
    
    header p {
        text-align: center;
        font-size: 1em;
        padding: 5px 5px;
    }

    nav {
        display: grid;
        grid-template-columns:  repeat( 2, 1rf);
        grid-template-rows: repeat(2, 2vw);
        gap: 0.9rem;
        font-size: 0.9em;
        text-align: center;
    }

    .nav1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        background-color: var(--cornav1);
    }
    .nav2 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
        background-color: var(--cornav1);
    }
    .nav3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 2;
        background-color: var(--cornav2);
    }
    .nav4 {
        grid-column: 3 / span 1;
        grid-row: 3 / span 2;
        background-color: var(--cornav2);
    }

    main {
        font-size: 0.8em;
        line-height: 1.8em;
    }

    main h1, h2 {
        font-size: 1.2em;
        text-align: left;
    }

    .img {
        background-size: cover;
        display: flex;
        min-width: 70vw;
        height: 40vh;
        margin: 0px auto;
    }

    aside ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 4vw);
        gap: 1rem;
        text-align: left;
        padding-top: 5px;

    }

    aside li {
        font-size: 1em;
    }

    .li1 {
        grid-column: 1/ span 1 ;
        grid-row: 1/ span 1;
    }

    .li2 {
        grid-column: 1/ span 1 ;
        grid-row: 2/ span 1;
    }
    .li3 {
        grid-column: 1/ span 1 ;
        grid-row: 3/ span 1;
    }
    .li4 {
        grid-column: 1 / span 1;
        grid-row: 4/ span 1;
    }
    .li5 {
        grid-column: 1 / span 1;
        grid-row: 5/ span 1;
    }
    .li6 {
        grid-column: 1 / span 1;
        grid-row: 6/ span 1;
    }
    .li7 {
        grid-column: 1 / span 1;
        grid-row: 7/ span 1;
    }
    .li8 {
        grid-column: 2 / span 1;
        grid-row: 1/ span 1;
    }
    .li9 {
        grid-column: 2 / span 1;
        grid-row: 2/ span 1;
    }
    .li10 {
        grid-column: 2 / span 1;
        grid-row: 3/ span 1;
    }
    .li11 {
        grid-column: 2 / span 1;
        grid-row: 4/ span 1;
    }
    .li12 {
        grid-column: 2 / span 1;
        grid-row: 5/ span 1;
    }
    .li13 {
        grid-column: 2 / span 1;
        grid-row: 6/ span 1;
    }
    .li14 {
        grid-column: 2 / span 1;
        grid-row: 7/ span 1;
    }
    
    footer {
        font-size: 0.7em;
        padding: 5px 5px;
    }
}